@model SD_330_F22SD_Labs.Models.CustomerAddress

<h1>Compare Customer - Address</h1>
<hr />
<br />
<form asp-action="Compare" method="post">
    <div class="container">
        <div class="row">
            @*<div class="col-md-6">
                <select asp-for="CustomerId" asp-items="Model.CustomerId"></select>
            </div>
            <div class="col-md-6">
                <select asp-for="AddressId" asp-items="Model.Address"></select>
            </div>*@
        </div>
    </div>
    <br />
    <input type="Submit" a asp-action="SelectedMovies" value="Compare Movies" />
    <br />
</form>
