@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Lab 1: EF Code First</h1>
    <div>
        <a asp-controller="Customers" asp-action="Index">Customers List</a> |
        <a asp-controller="Addresses" asp-action="Index">Addresses List</a>
    </div>
</div>
