@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>Hotel</strong>: Lab 3 - Data Annotations</h1>
</div>
<br />
<div class="text-center">
    <a asp-controller="Clients" asp-action="Index">Clients</a> |
    <a asp-controller="Rooms" asp-action="Index">Rooms</a> 
</div>
<br />
